.page-header{
  background-color: #0055A4;
  margin-top: 0;
}

#flush{
    margin-top: 0;
}

body{
  background-color: #e6f3ff;
}
.jumbotron {
  background-repeat: no-repeat;
  background-image: url(../img/paris.png);
  background-size: 65%;
  background-position: center;
  background-color: #cc0000;
  color: white;
}

ul a{
  color: white;
}

#video{
  width: 100%
  border: solid;
  padding: 1px;
}
